*.d
*.o
*.bin
*.hex
*.list
*.srec
*.a
*.elf
lib/*.ld
*.stylecheck
*.swp
\#*
.\#*
*~
*.map
*.log
*.pyc
html/
latex/
*.pdf
*.tag
.DS_Store
# These are generated
include/libopencm3/**/nvic.h
include/libopencm3/**/**/nvic.h
lib/**/vector_nvic.c
lib/**/**/vector_nvic.c
doxy.sourcelist
include/libopencmsis/efm32/
include/libopencmsis/lm3s/
include/libopencmsis/lpc13xx/
include/libopencmsis/lpc17xx/
include/libopencmsis/lpc43xx/
include/libopencmsis/msp432/
include/libopencmsis/sam/
include/libopencmsis/stm32/
include/libopencmsis/vf6xx/

# Editor/IDE config files
nbproject/
.idea/
.project
locm3.sublime-workspace

# cscope databases
cscope.out

# build droppings
.stamp_failure*
