examples/miniblink/*.o
examples/miniblink/miniblink
examples/miniblink/miniblink.bin
examples/miniblink/miniblink.hex
examples/miniblink/miniblink.list
examples/miniblink/miniblink.srec
lib/*.o
lib/libopenstm32.a

