*.d
*.o
*.bin
*.hex
*.list
*.srec
*.a
*.elf
lib/*.ld
*.stylecheck
*.swp
\#*
.\#*
*~
*.map
*.log
html/
latex/
*.pdf
*.tag
.DS_Store
# These are generated
include/libopencm3/**/nvic.h
include/libopencm3/**/**/nvic.h
lib/**/vector_nvic.c
lib/**/**/vector_nvic.c
include/libopencmsis/efm32/
include/libopencmsis/lm3s/
include/libopencmsis/lpc13xx/
include/libopencmsis/lpc17xx/
include/libopencmsis/lpc43xx/
include/libopencmsis/sam/
include/libopencmsis/stm32/
include/libopencmsis/vf6xx/

# netbeans, intellij, eclipse project files
nbproject/
.idea/
.project

# cscope databases
cscope.out
